
@{
    ViewBag.Title = "ObtenerTempJugador";
}

<style>
    .table-light-orange {
        background-color: #FFE4B5; /* Color naranja claro */
    }

        .table-light-orange th {
            background-color: #FFD700; /* Color naranja dorado para el encabezado */
        }
</style>

<h2>Obtener Temporadas Jugador</h2>

@model List<int>

<div class="table-responsive">
    <table class="table table-bordered table-light-orange">
        <thead>
            <tr>
                <th>Año</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var season in Model)
            {
                <tr>
                    <td>@season</td>
                </tr>
            }
        </tbody>
    </table>
</div>
